* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkseagreen;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 15em;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: "Homemade Apple", cursive;
}

.container .heading h3 span {
    font-weight: 100;
    
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    padding-bottom: 60px;
    border-radius: 15px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}

.container .btn {
    font-family: "GFS Didot", serif;
    font-size: 8em;
    margin: 40px 0 70px 0;
    background: olivedrab;
    padding: 30px 80px;
    border-radius: 15px;
}

.container .btn a {
    background-color: olivedrab;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;
  font-weight: bold;
}

.container .btn a:hover {
    color: darkolivegreen;
   

}

@media screen and (max-width: 3700px) {
    .container .heading h3 {
    font-size: 9em;
}
.container .btn {
    font-size: 5em;
    margin: 40px 0 70px 0;
    padding: 25px 50px;
    border-radius: 15px;
}

.container .btn a {
  color: white;
  letter-spacing: 6px;
  text-decoration: none;
  font-weight: bold;
}
}

@media screen and (max-width: 1900px) {
    .container .box {
    flex-direction: column;
}
.container .box .dream {
    width: 100%;
}
.container .heading h3 {
    font-size: 8em;
}
.container .btn {
    font-size: 3em;
    margin: 40px 0 70px 0;
    padding: 15px 40px;
    border-radius: 15px;
}

.container .btn a {
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
}
}

@media screen and (max-width: 900px) {
    .container .box {
    flex-direction: column;
}
.container .box .dream {
    width: 100%;
}
.container .heading h3 {
    font-size: 5em;
}
.container .btn {
    font-size: 2em;
    margin: 40px 0 70px 0;
    padding: 15px 40px;
    border-radius: 15px;
}

.container .btn a {
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
}
}

