@charset "UTF-8";
/* CSS Document */

body {
    background-color:cornflowerblue;
}

.stew-content {
    background-color: #cccccc;
    width: 700px;
    padding: 10px;
    margin: auto;
}
h1, h2, h3 {
    color:rgb(255, 166, 2)
}

footer {
    background-color: blueviolet;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    clear: both;
}


