@charset "UTF-8";
/* CSS Document */

body {
    background-color:rgb(208, 253, 255);
}

.stew-content {
    background-color: #95d3e0;
    width: 700px;
    padding: 10px;
    margin: auto;
}
h1, h2, h3 {
    color:rgb(13, 111, 138)
}

footer {
    background-color: rgb(81, 185, 185);
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    clear: both;
}


